<p>Dear {{CEO_Name}},</p>

<p>I wanted to follow up on my previous note. I understand you are busy, so I will keep this brief.</p>

<p>If there is any interest in learning more about OrbitAvanya Tech LLP or what we do, I would be happy to schedule a short call at your convenience.</p>

<p>You can learn more about us here:<br>
<a href="https://orbitavanyatech.com">orbitavanyatech.com</a> - Website<br>
portfolio.orbitavanyatech.com - Portfolio</p>

<p>If the timing is not right, I completely understand. Feel free to reach out whenever it works for you.</p>

<p>Thank you again for your time.</p>

<p>Best regards,<br>
Pradeep Kumar<br>
OrbitAvanya Tech LLP<br>
+91 70219 50643<br>
<a href="mailto:info@orbitavanyatech.com">info@orbitavanyatech.com</a></p>
